<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.guet.studentworkmanagementsystem.mapper.other.CounselorMapper">
    <select id="getCounselors"
            resultType="edu.guet.studentworkmanagementsystem.entity.vo.other.CounselorItem">
        SELECT
            c.uid,
            u.username AS counselorUsername,
            u.real_name AS counselorName,
            u.phone AS counselorPhone
        FROM counselor c
                 LEFT JOIN `user` u ON c.uid = u.uid AND u.enabled = TRUE
                 LEFT JOIN `user_role` ur ON u.uid = ur.uid and ur.rid = 3
        where u.username LIKE CONCAT(#{search}, '%')
                OR u.real_name LIKE CONCAT(#{search}, '%')
        GROUP BY c.uid, u.username, u.real_name, u.phone
        limit #{offset}, #{pageSize}
    </select>
</mapper>