<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.guet.studentworkmanagementsystem.mapper.cadre.StudentCadreMapper">
    <select id="getCadreStatus"
            parameterType="edu.guet.studentworkmanagementsystem.entity.dto.cadre.CadreStatQuery"
            resultType="edu.guet.studentworkmanagementsystem.entity.vo.cadre.StudentCadreStatRow">
        select
            major.major_name as majorName,
            grade.grade_name as gradeName,
            concat(cadre.cadre_position, ' - ', cadre.cadre_level) as cadreName,
            cadre.cadre_belong as cadreBelong,

            concat(student_cadre.appointment_start_term, ' - ', student_cadre.appointment_end_term) as appointmentTime
        from student_basic
            inner join major on major.major_id = student_basic.major_id
            inner join grade on grade.grade_id = student_basic.grade_id
            inner join student_cadre on student_cadre.student_id = student_basic.student_id
            inner join cadre on cadre.cadre_id = student_cadre.cadre_id
        <where>
            <if test="gradeId != null and gradeId != ''">
                student_basic.grade_id = #{gradeId}
            </if>
            <if test="majorId != null and majorId != ''">
                and student_basic.major_id = #{majorId}
            </if>
            <if test="cadreLevel != null and cadreLevel != ''">
                and cadre.cadre_level = #{cadreLevel}
            </if>
            <!-- 处理只有startTerm的情况 -->
            <if test="startTerm != null and startTerm != '' and (endTerm == null or endTerm == '')">
                and student_cadre.appointment_end_term >= #{startTerm}
            </if>

            <!-- 处理只有endTerm的情况 -->
            <if test="endTerm != null and endTerm != '' and (startTerm == null or startTerm == '')">
                and student_cadre.appointment_start_term &lt;= #{endTerm}
            </if>
            <!-- startTerm和endTerm都有，查交集 -->
            <if test="startTerm != null and startTerm != '' and endTerm != null and endTerm != ''">
                and student_cadre.appointment_start_term &lt;= #{endTerm}
                and student_cadre.appointment_end_term >= #{startTerm}
            </if>
        </where>
        GROUP BY
            major.major_name,
            grade.grade_name,
            cadre.cadre_position,
            cadre.cadre_level,
            cadre.cadre_belong,
            student_cadre.appointment_start_term,
            student_cadre.appointment_end_term
        ORDER BY
            major.major_name,
            grade.grade_name,
            cadre.cadre_position,
            cadre.cadre_level,
            cadre.cadre_belong,
            student_cadre.appointment_start_term,
            student_cadre.appointment_end_term
    </select>
</mapper>